@import '@/style/common.scss';

.container {
  .datapoint-label,
  .datapoint-figure {
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  .datapoint-label {
    font-family: Roboto;
    font-size: 12px;
    // font-style: italic;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .datapoint-figure {
    font-family: Roboto Condensed;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }
  .read-more-link {
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #212121;
    text-decoration: underline;
    text-decoration-color: $nrcOrange;
  }
}

.global-displacement-variant {
  dl {
    margin: 0;
  }
  .facts-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    gap: 0.2em;
  }

  .grid-cell {
    background-color: #ededed;
    padding: 0.6em 0.6em;
  }
  .grid-cell-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  caption {
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    width: 100%;
    font-style: italic;
  }
}

.gors-variant {
  .core-competencies-grid {
    display: grid;
  }
  @media (min-width: 550px) and (max-width: 1024px) {
    .core-competencies-grid {
      grid-template-columns: 50% 50%;
    }
    .read-more-cell {
      text-align: center;
    }
  }

  .core-competency-item {
    display: grid;
    grid-template: 1.4em auto / 4em auto;
    column-gap: 1.2em;
    grid-template-areas:
      'iconarea label'
      'iconarea figure';
  }
  // Selects every .core-competency-item except first one
  .core-competency-item:not(:last-child) {
    margin-bottom: 0.5em;
  }
  .core-competency-icon {
    grid-area: iconarea;
  }
  .core-competency-label {
    padding-top: 0.4em;
    grid-area: label;
  }
  .core-competency-figure {
    grid-area: figure;
  }
  caption {
    display: inline-block;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 400;
    color: #212121;
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
  }
  figure {
    margin: 0;
  }
}
