.st0 {
  color: #ffffff;
  fill: #ffffff;
}

.icon-svg {
  enable-background: new 0 0 1100 1100;
  height: auto;
}

.path-thingy {
  // fill:#FD5A00;fill-opacity:1;fill-rule:nonzero;stroke:none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
}
