.st0 {
  color: #ffffff;
  fill: #ffffff;
}

.icon-svg {
  enable-background: new 0 0 1100 1100;
  width: 250px;
  height: auto;
}


.path-thingy {
  // fill:#ff7602;fill-opacity:1;fill-rule:nonzero;stroke:none;
  fill-opacity:1;fill-rule:nonzero;stroke:none;
}