@import '@/style/common.scss';

@import url('https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css');

.nrcstat-country-dashboard-wrapper {
  /* the following properties are also set programatically by wlib to ensure override of episerver */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

  .nrcstat-country-dashboard-data-block {
    flex-basis: 0;
  }
  .nrcstat-country-dashboard-data-block {
    flex-grow: 6;
    font-family: 'Roboto Condensed';

    table.main-data-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 2.5em;
      table-layout: fixed;
    }
    table.main-data-table td {
      border-bottom: 1px solid #cccccc;
      padding: 0.7em 0.6em;
    }
    table.main-data-table .data-cell,
    table.main-data-table .data-header-cell {
      text-align: right;
    }
    table.main-data-table .data-cell {
      font-size: 18px;
    }

    p.footnote {
      color: grey;
      font-size: small;
    }
  }
  .nrcstat-country-dashboard-map-block {
    display: flex;
    // flex-grow: 4;
    // justify-content: stretch;
    min-width: 350px;
    width: 40%;
    .nrcstat-country-dashboard-map-block__map-container {
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      .nrcstat-country-dashboard-map-block__mapbox {
        width: 100%;
        height: 100%;
        min-height: 450px;
      }
      .nrcstat-country-dsahboard-map-block__source {
        position: absolute;
        bottom: 5px;
        left: 5px;
        font-family: 'Roboto Condensed';
        font-size: small;
        color: grey;
      }
    }
  }

  @media (max-width: 800px) {
    .nrcstat-country-dashboard-data-block,
    .nrcstat-country-dashboard-map-block {
      width: 100%;
    }
    .nrcstat-country-dashboard-data-block {
      height: auto;
    }
  }
}

/* If both blocks are on same line, include some right-padding in data block */
.nrcstat-country-dashboard-data-block__inner {
  padding: 0 2em 0 0;
}

@media (max-width: 800px) {
  .nrcstat-country-dashboard-data-block,
  .nrcstat-country-dashboard-map-block {
    width: 100%;
  }
  .nrcstat-country-dashboard-data-block {
    height: auto;
  }
  .nrcstat-country-dashboard-data-block__inner {
    padding: 0 0 1.5em 0;
  }
}

@media (max-width: 800px) {
  .nrcstat-country-dashboard-wrapper {
    flex-direction: column;
  }
  .nrcstat-country-dashboard-map-block {
    min-height: 0;
  }
}
