
/* For some reason we need to do the font import twice - look at this sometime... */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;700&display=swap");

$nrcOrange: #FF7602;

$dataPointColour__refugeesFrom: #ff7900;
$dataPointColour__refugeesTo: #fdc82f;
$dataPointColour__idps: #72c7e7;

/* For some reason we need to do the font import twice - look at this sometime... */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;700&display=swap");