/* For some reason we need to do the font import twice - look at this sometime... */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;700&display=swap');

$nrcOrange: #fd5a00;
$coolGrey3: #ededed;

$dataPointColour__refugeesFrom: #ff7900;
$dataPointColour__refugeesTo: #fdc82f;
$dataPointColour__idps: #72c7e7;

$text50: #909090;
$text: #212121;

/* For some reason we need to do the font import twice - look at this sometime... */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;700&display=swap');
